target
Cargo.lock
data
models
build
dist
*.egg-info
*.png
__pycache__
add_license.py
.DS_store
.vscode
.ipynb_checkpoints
graphistry_creds.json
.python-version
*.nav
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.snm
*.synctex.gz
*.toc